<section class="hero">
    <h1>Future events: </h1>
</section>

<section class="events">
    <div class="event-card">
        <h1 class="event-title">Zine distro @ WSQ Park</h1>
        <p class="event-date">Every Monday & Wednesday</p>
        <p class="event-date">3pm to 7pm</p>
        <p class="event-description">
            During the months of summer you can find us near the fountain at WSQ park with our fanzines stand based on donation.
        </p>
    </div>
    <div class="event-card">
        <h1 class="event-title">Event Title</h1>
        <p class="event-date">Date and time</p>
        <p class="event-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna
            aliqua. Amet aliquam id diam maecenas ultricies mi eget mauris.
        </p>
    </div>
    <div class="event-card">
        <h1 class="event-title">Books distro @ McCarren Park</h1>
        <p class="event-date">Every Friday</p>
        <p class="event-date">4pm to 6pm</p>
        <p class="event-description">
            During the months of summer you can find us at the central area at McCarren Park with a bookstand based on donation.
        </p>
    </div>
    <div class="event-card">
        <h1 class="event-title">Event Title</h1>
        <p class="event-date">Date and time</p>
        <p class="event-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna
            aliqua. Amet aliquam id diam maecenas ultricies mi eget mauris.
        </p>
    </div>
    
</section>
