<section class="hero">
    <h1>Resources</h1>
</section>

<section class="headers">
    <div class="row">
        <div class="header">
            <h1>Dream it.</h1>
            <p>
                Whatever it is, the way you tell your story online can make all the difference.
            </p>
        </div>

        <div class="header">
            <h1>Build it.</h1>
            <p>
                Whatever it is, the way you tell your story online can make all the difference.
            </p>
        </div>

        <div class="header">
            <h1>Sell it.</h1>
            <p>
                Whatever it is, the way you tell your story online can make all the difference.
            </p>
        </div>

        <div class="header">
            <h1>Grow it.</h1>
            <p>
                Whatever it is, the way you tell your story online can make all the difference.
            </p>
        </div>
    </div>

    <div class="row" style="margin-top: 100px;">
        <div class="header">
            <h1>Dream it.</h1>
            <p>
                Whatever it is, the way you tell your story online can make all the difference.
            </p>
        </div>
    
        <div class="header">
            <h1>Build it.</h1>
            <p>
                Whatever it is, the way you tell your story online can make all the difference.
            </p>
        </div>
    
        <div class="header">
            <h1>Sell it.</h1>
            <p>
                Whatever it is, the way you tell your story online can make all the difference.
            </p>
        </div>
    
        <div class="header">
            <h1>Grow it.</h1>
            <p>
                Whatever it is, the way you tell your story online can make all the difference.
            </p>
        </div>
    </div>
</section>

<section class="other-orgs">
    <h1>Other Orgs and mutual aids</h1>
    <div class="organizations">
        <div class="card">
            <img src="./assets/images/image2.jpg" alt="image" class="card-image">
            <h1 class="card-title">Dream it.</h1>
            <p class="card-description">
                It all begins with an idea. Maybe you want to launch a business. Maybe you want to turn a hobby into something more. Or
                maybe you have a creative project to share with the world. Whatever it is, the way you tell your story online can make
                all the difference.
            </p>
        </div>
        <div class="card">
            <img src="./assets/images/image2.jpg" alt="image" class="card-image">
            <h1 class="card-title">Build it.</h1>
            <p class="card-description">
                It all begins with an idea. Maybe you want to launch a business. Maybe you want to turn a hobby into something
                more. Or
                maybe you have a creative project to share with the world. Whatever it is, the way you tell your story online
                can make
                all the difference.
            </p>
        </div>
        <div class="card">
            <img src="./assets/images/image1.jpg" alt="image" class="card-image">
            <h1 class="card-title">Grow it.</h1>
            <p class="card-description">
                It all begins with an idea. Maybe you want to launch a business. Maybe you want to turn a hobby into something
                more. Or
                maybe you have a creative project to share with the world. Whatever it is, the way you tell your story online
                can make
                all the difference.
            </p>
        </div>
    </div>
</section>
