/* Do not change */
*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Color Scheme. Change as you'd like */
:root{
    --primary: hsl(59, 100%, 66%);
    --secondary: white;
}

/* Font */
body{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 6vw;
}
