<!-- Hero Section -->
<section class="hero">
    <h1>Another Mutual Aid.</h1>
</section>

<!-- Description -->
<section class="description">
    <div class="paragraphs">
        <p>
            The radical bus will be a rolling lbrary with the intention of bringing books to young students and young people to
            South & Center Brooklyn. Anyone under the age of 27, whether they are currently in the school system or not, will be
            able to check out books from their closest neighbourhood stop.
        </p>
        
        <p>
            Access to readings variety is one of the biggest hurdles to library access for many families. The Radical Bus will
            face
            this challange head-on by meeting people where they are.
        </p>
        
        <p>
            The Radical Bus is commited to alleviating some of the financial burders that can interfere with library acces. This
            means that our bus team will have more flexibility with penalities for late return or damage than the staff at most
            of
            other libraries. Not to mention, any penalities will never be monetary at The Radical Bus!
        </p>
    </div>
    <div class="radical-bus-logo">
        <img data-aos="flip-right" data-aos-duration="3000" data-aos-offset="300" src="./../../assets/images/logo_NY.png" alt="radical-bus-logo">
    </div>
</section>

<section class="project" data-aos="fade-in" data-aos-delay="200" data-aos-duration="1500">
    <div class="header">
        <h1>Current Project Phase: </h1>
    </div>
    <div class="project-des">
        <p>
            At this moment we are collecting funds for the bus purchase thru events, fanzines distribution and online fundraiser.
            You can find other ways to help us <strong>here.</strong>
        </p>
        <p>
            Don’t forget to subscribe to our mailing list for monthly newsletter!
        </p>

        <button id="donate">Donate</button>
    </div>
</section>

